extends layout

block content
  div.home-containner
    h1 Express.js + TypeScript Starter + By Tulanun.
    p.lead A boilerplate for Node.js web applications + CICD + Create Branch.
    a.btn.btn-secondary(href='https://gitlab.com/moonlight-academy/express-ts-starter', role='button') Source Code »